/* styles.css */
body {
    font-family: 'Palatino', serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 80px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-top: 5px;
}

button {
    background-color: #4caf9e;
    color: white;
    padding: 10px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4caf9e;
}

a {
    color: #4caf9e;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: #4caf9e;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.contenido {
    display: none;
}

.contenido.active {
    display: block;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4caf9e;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.btn-editar {
    background-color: #2f00ff; /* Color azul :D para el botón de editar */
}

.btn-editar:hover {
    background-color: #8707ff; /* Color más claro para el hover */
}

.btn-eliminar {
    background-color: #ff47c8; /* Color rosadito :D  para el botón de eliminar */
}

.btn-eliminar:hover {
    background-color: #ff006a; /* Color rosadito magenta :D para el hover */
}
